@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no">

	<title></title>
    
    <script src="/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="/js/vendor/jquery.scrollTo.min.js"></script>
    <script src="/js/vendor/jquery.colorbox.js"></script>
    <script src="/js/vendor/popper.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
    <script src="/js/vendor/jquery.tipTip.js"></script>
    <script src="/js/metrorun.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600" />

	<link href="/css/metrorun.min.css" rel="stylesheet" />

	@RenderSection("head", false)

</head>
<body id="page-top">
	<header>
		@Html.Partial("Navigation")
	</header>
	<section>
        @RenderSection("PageHeader", Html.Partial("PageHeader"))
		@RenderBody()
	</section>
	<footer>
		@Html.Partial("Footer")
	</footer>
</body>
</html>
